* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgb(99, 88, 238) 94.3% );
    font-family: Helvetica, sans-serif;
    padding-top: 30px;
}

h2 {
    font-size: 28px;
    color: white;
    text-align: center;
}

ion-icon{
    font-size: 20px;
}

.tasklist-container {
    width: 500px;
    margin: 0 auto;
}

.newtask-form {
    position: relative;
    margin: 20px;
}

.newtask {
    width: 100%;
    height: 38px;
    background-color: white;
    border-radius: 9px;
    border: 1px solid black;
    padding-left: 9px;
    font-size: 16px;
}

.newtask::placeholder {
    font-size: 16px;
}

.newtask:focus {
    outline: none;
}

.newtask-form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 9px 9px 0;
    width: 40px;
    cursor: pointer;
}

.newtask-form button:hover {
    transition: .5s;
    background-color: rgba(99,88,238,1);
    color: white;
}

.tasklist {
    padding-top: 15px;
    list-style: none;
}

.tasklist-item {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    background-color: white;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    border-radius: 9px 9px 0 0;
    border-bottom: 3px solid black;
}

.tasklist-item ion-icon {
    padding: 0 10px;
    height: 36px;
    cursor: pointer;
}

#check-btn {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 40px;
}

#remove-btn {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0px;
}

#check-btn:hover {
    background-color: rgb(0, 238, 0);
    transition: .5s;
}

#remove-btn:hover {
    background-color: red;
    margin-bottom: 3px solid black;
    border-radius: 0 9px 0 0;
    transition: .5s;
}

.checked {
    background-color: rgba(57, 51, 137, 0.956);
    color: white;
    text-decoration: line-through;
}

.checked #check-btn:hover {
    background-color: rgba(69, 62, 167, 0.956);
}

.hide {
    display: none;
}


